h1 {
  text-align: center;
}

body {
  text-align: center;

}

.boxed {
  margin: 0 auto;
  width: 100px;
  border: 1px solid black;
  text-align: center;

}

.grid {
  margin: 0 auto;
  text-align: center;
}

#result div {
  width: 100px;
  border: 5px solid navy;

}

ul {
  
  padding: 0;
  margin: 0;
  position: relative;
  width: 490px;
  height: 0px;
}

li {

  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: red;
}

#mole_one {
  position: absolute;
  top:0px; left:0px;
}

#mole_two {
  position: absolute;
  top:0px; left:160px;
}

#mole_three {
  position: absolute;
  top:0px; left:320px;
}

#mole_four {
  position: absolute;
  top:160px; left:0px;
}
#mole_five {
  position: absolute;
  top:160px; left: 160px;
}
#mole_six {
  position: absolute;
  top:160px; left: 320px;
}

#mole_seven {
  position: absolute;
  top:320px; left:0px;
}

#mole_eight {
  position: absolute;
  top:320px; left:160px;
}
  
#mole_nine {
  position: absolute;
  top:320px; left:320px;
}

/*.table {
  margin: 0 auto;
  width: 450px;
  height: 450px;
  border: 1px solid;
}
*/
/*.grid {
  width: 450px;
  margin: 0 auto;
  padding: 0;
}

.grid li {
  width: 150px;
  height: 150px;
  float: left;
  margin: 0;
  padding: 0;
  background-color: green;
  border: 1px solid white; 
  display: inline;
}*/

/*.mole {
  width: 30px;
  height: 30px;
  background-color: green;
  border: 1px solid white; 
  
}
*/