
@font-face {
    font-family: 'gang_bang_crimeregular';
    src: url('fonts/gang-bang-crime-webfont.eot');
    src: url('fonts/gang-bang-crime-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gang-bang-crime-webfont.woff2') format('woff2'),
         url('fonts/gang-bang-crime-webfont.woff') format('woff'),
         url('fonts/gang-bang-crime-webfont.ttf') format('truetype'),
         url('fonts/gang-bang-crime-webfont.svg#gang_bang_crimeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {
  text-align: center;
  font-family: 'gang_bang_crimeregular';
  font-size: 60px;
}

body {
  text-align: center;
  background-image: url(freeway-sign-1444662-1600x1200.jpg);
  background-size: 100%;

}

.boxed {
  margin: 0 auto;
  width: 100px;
  border: 1px solid black;
  text-align: center;

}

.grid {
  position: relative;
  width: 490px;
  margin: 0 auto;
  text-align: center;
}

#result div {
  width: 100px;
  border: 5px solid navy;

}

ul {
  
  padding: 0;
  margin: 0;
  position: relative;
  width: 490px;
  height: 0px;
}

li {

  display: inline-block;
  width: 150px;
  height: 150px;
  background-image: url(politie059.gif);
  background-size: 100%;
  border-radius: 80px;

}

li:hover {
  cursor: url(snoop-dogg.png), auto;
  /*cursor: pointer;*/
}

#mole_one {
  position: absolute;
  top:0px; left:0px;
}

#mole_two {
  position: absolute;
  top:0px; left:160px;
}

#mole_three {
  position: absolute;
  top:0px; left:320px;
}

#mole_four {
  position: absolute;
  top:160px; left:0px;
}
#mole_five {
  position: absolute;
  top:160px; left: 160px;
}
#mole_six {
  position: absolute;
  top:160px; left: 320px;
}

#mole_seven {
  position: absolute;
  top:320px; left:0px;
}

#mole_eight {
  position: absolute;
  top:320px; left:160px;
}
  
#mole_nine {
  position: absolute;
  top:320px; left:320px;
}

/*.table {
  margin: 0 auto;
  width: 450px;
  height: 450px;
  border: 1px solid;
}
*/
/*.grid {
  width: 450px;
  margin: 0 auto;
  padding: 0;
}

.grid li {
  width: 150px;
  height: 150px;
  float: left;
  margin: 0;
  padding: 0;
  background-color: green;
  border: 1px solid white; 
  display: inline;
}*/

/*.mole {
  width: 30px;
  height: 30px;
  background-color: green;
  border: 1px solid white; 
  
}
*/